<footer class="yquizz-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="yquizz-footer-content">
                    <a ui-sref="about"><p>About</p></a>
                    <a ui-sref="term"><p>Terms and Policies</p></a>
                    <a ui-sref="privacy"><p>Privacy Policy</p></a>
                    <a ui-sref="contact"><p>Contact us</p></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="yquizz-footer-content pull-right">
                    <p>We’re socialized!</p>
                    <a href="https://www.facebook.com/Yquizz-English-341898756271959/"><span class="facebook-icon"></span></a>
                    <a href="#"><span class="twitter-icon"></span></a>
                    <a href="#"><span class="instagram-icon"></span></a>
                </div>
            </div>
        </div>

        <div class="yquizz-line"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="yquizz-copyright">
                    <p>© 2017 Yquizz.com. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>