<header class="yquizz-header" ng-controller="detailCtrl">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 col-md-2">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/"><img src="../../images/YQUIZZ-logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <ul class="nav navbar-nav">
                        <li class="yquizz-lang">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    {{languageName}} <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="https://en.yquizz.com">English</a></li>
                                    <li><a href="https://vi.yquizz.com">Tiếng Việt</a></li>
                                    <li><a href="https://vi.yquizz.com">Português</a></li>
                                    <li><a href="https://vi.yquizz.com">Français</a></li>
                                    <li><a href="https://vi.yquizz.com">한국의</a></li>
                                    <li><a href="https://vi.yquizz.com">ไทย</a></li>
                                    <li><a href="https://vi.yquizz.com">中文</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-4 col-md-4 yquizz-search">
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" class="form-control search-input" placeholder="Search Something..."
                                   style="margin: 0 auto">
                            <span class="yquizz-icon-search"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <div class="shape">
        <img alt="">
    </div>
</header>