<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../styles/yquizz.css">
    <link rel="stylesheet" href="../../styles/login.css">
</head>
<body>
<div class="container-fluid login-page" style="padding-left: 0">
    <div class="login-content">
        <h1>SIGN IN</h1>

        <form action="#">
            <div>
                <input type="text" id="username" value="" autocomplete="off" autocorrect="off" autocapitalize="off"
                       spellcheck="false">
                <span>
        <label for="username">Username</label>
       </span>
            </div>
            <div>
                <input type="password" id="password" value="">
                <span>
        <label for="password">Password</label>
      </span>
            </div>
            <div>
                <input type="submit" value="Sign in">
            </div>
        </form>
    </div>
</div>

</body>
</html>