<div class="yquizz-about">
    <div class="container">
        <div class="about-navigate">
            <div class="col-md-4">
                <h1>About <br>Yquizz.com</h1>
            </div>
        </div>

        <div class="about-content">
            <div class="col-md-8">
                <p>Yquizz.com is known as” The most famous website for Funny Apps on Facebook in the world” We create it
                    to bring users entertain and explore interesting things in their life.
                    Founded of knowledge and diverse experience about social life as well as social network Facebook,
                    <a href="https://yquizz.com">www.yquizz.com</a> is hoped to come up with lots of fun when using
                    Facebook
                    Besides, in the near future, <a href="https://yquizz.com">www.yquizz.com</a> always aim to support
                    the online community, create
                    interesting Facebook applications, update all the latest news and help the community earn legitimate
                    incomes based on applications, entertaining products made by us.</p>
                <div style="height: 2px; border: 1px solid #e9e9e9; margin-top: 50px"></div>
                <div class="row">
                    <div class="col-md-6 text-center">
                        <h2>Mission</h2>
                        <p>Our mission is bringing Facebook users funniest and safest Facebook environment. Visit us ,
                            you
                            will have the happiest moments.</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <h2>Vision</h2>
                        <p>Yquizz Fun App will be a technology vanguard in develop social network and entertaining
                            features
                            on this website. It is also a reliable link between users and social network information,
                            between the business and users.</p>
                    </div>
                </div>
                <div style="height: 2px; border: 1px solid #e9e9e9; margin-top: 50px"></div>
                <h2>Core Value</h2>
                <p><b>Clarity</b>
                    Ensure that Yquizz Fun App always maintain its mission.
                    Ensure that all the terms and process happen in the right way.
                    Ensure that the clarity in cooperation with business, partners and customers is maintained.</p>
                <p><b>Creativeness</b>
                    Always maintain creative and automated continuously which is our competitive advantages at Yquizz
                    Fun App
                </p>
                <p><b>Respect</b>
                    Respecting each other in an organization is the key factor in Yquizz Fun App‘s working environment.
                    Respecting users and give them the best quality are the main purposes of all products which Yquizz
                    Fun App created.
                </p>
            </div>
        </div>
    </div>
</div>