<div class="yquizz-about">
    <div class="container">
        <div class="about-navigate">
            <div class="col-md-4">
                <h1>Terms <br>and Policies</h1>
            </div>
        </div>

        <div class="about-content">
            <div class="col-md-8">
                <div class="row">
                    <p>Below are the general policies about Yquizz Fun App mode of operation and responsibilities from
                        that
                        give benefits of Yquizz Fun App users.</p>
                    <p>
                        By accepting all of these terms, all the parties who interact with Yquizz Fun App must commit
                        together to follow these terms and policies.</p>
                    <p>
                        Yquizz Fun app may change this policy from time to time by updating this section from time to
                        time.
                        This privacy policy was last updated on 4th Octorber 2017.</p>
                    <p>
                        If we desire to add any material changes to our policies, then we will either put message on our
                        website or you need to check this section in order to comply with our policies!
                    </p>
                </div>
                <div style="height: 2px;border: 1px solid #e9e9e9; margin-top: 50px"></div>
                <div class="row">
                    <p>By using , <a href="https://www.yquizz.com">www.yquizz.com</a> you must agree that:</p>
                    <ul>
                        <li>You must be over 13 years old to use the Yquizz Fun app's Facebook App. If you are under the
                            age of 13 you are not permitted to access or use the FunApp's Facebook App.
                        </li>
                        <li>Please log on to www.yquizz.com ’s app for the first time, FunApp’s Facebook App will ask
                            permission to access information from your Facebook profile.
                        </li>
                        <li>This includes:
                            <ul>
                                <li>Your basic information (which includes your name, profile pictures, username, gender
                                    and other information forming your basic account information on Facebook)
                                </li>
                                <li>Your profile information (including your birthday, hometown, country, and location
                                    etc.)
                                </li>
                                <li>Your photos.</li>
                                <li>Your wall posts, inbox (optional, and if such permissions allowed by user then this
                                    app will not store nor collect any private data. To get user interactions only
                                    messages count is considered to generate results).
                                </li>
                            </ul>
                        </li>
                        <li><a href="https://www.yquizz.com">www.yquizz.com’s</a> Facebook App will surely not publish
                            story automatically, it will publish
                            story only on user's content.
                        </li>
                        <li><a href="https://www.yquizz.com">www.yquizz.com’s</a> Facebook App uses user's information
                            only when you using the app, temporary
                            to generate or process results.
                        </li>
                        <li>This application use cookies to monitor site visitors and traffic.</li>
                        <li>This website reserves the right to suspend access to the application, or any content or
                            information you publish or you've generated by this (including user data, images, content,
                            friends and everything else) as well as cancel, ban the entry or use of the application,
                            with or without notice or reason necessary in its sole election.
                        </li>
                        <li>Your usage of any information or materials on this website is entirely at your own risk, for
                            which we shall not be liable. It shall be your own responsibility to ensure that any
                            products, services or information available through this website meet your specific
                            requirements.
                        </li>
                        <li>Unauthorised use of this application will lead us to take strict action.</li>
                        <li><a href="https://www.yquizz.com">www.yquizz.com’s</a> applications contains material which
                            is copyright protected or owned by us.
                            Reproduction is strictly prohibited other than in accordance with the copyright notice,
                            which forms part of these terms and conditions.
                        </li>
                        <li>The result displayed or processed by this application should not be taken as serious issues,
                            as <a href="https://www.yquizz.com">www.yquizz.com’s</a> apps are just for entertainment
                            purpose and for fun to engage with your
                            friends and colleagues.
                        </li>
                        <li>If you are a registered user of Yquizz Fun app and have supplied us your email address, you
                            may occasionally receive emails from us relating to your account, or with respect to updates
                            on new features or other changes in the website, or for customer service purposes, or
                            otherwise as shall be required in order to enable your use of our services.
                        </li>
                        <li>This application is not the part of the company Facebook / Facebook Inc. This application
                            uses Facebook API to get your necessary information and work as you use.
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div style="height: 2px; border: 1px solid #e9e9e9; margin-top: 50px"></div>
                    <p style="margin-top: 15px"><b>HOW WE USE YOUR INFORMATION</b></p>
                    <p>We can use the information and data that we receive and collect to operate and enhance our
                        services and features.</p>
                    <p> For example, when you login with Facebook for trying some quizzes, it allows us to provide you
                        with a more relevant result at the end of the given quizz and it allows us to generate a
                        personalized picture.
                    </p>
                </div>
                <div class="row">
                    <div style="height: 2px; border: 1px solid #e9e9e9; margin-top: 50px"></div>
                    <p style="margin-top: 15px"><b>DISCLAIMER</b></p>
                    <p>www.yquizz.com is relatively reliable using of the content or information created or published by
                        the User, by third parties or the site itself. Neither representatives or warranties that "This
                        Application" its services or information on this application reliable, current or error
                        free.</p>
                    <p>"This Application", it's partners, owners, individuals related to their operation, shall not be
                        liable for errors in the information provided on the application or the results of the actions
                        that the user performs with such information.</p>
                    <p><b>Please use this apps only for fun and should not take it as serious issues. This apps is only
                        meant for fun and entertainment.</b></p>
                </div>

            </div>
        </div>
    </div>
</div>