<div class="yquizz-about">
    <div class="container">
        <div class="about-navigate">
            <div class="col-md-4">
                <h1>Privacy <br>Policy</h1>
            </div>
        </div>

        <div class="about-content">
            <div class="col-md-8">
                <p><b>1</b>. If the Service is carried out as a Facebook application and/or if authentication through Facebook
                    is used, the permission of users is required for us to access their stored data on Facebook.</p>
                <p><b>2</b>. Users are expressly referred in the context of the Facebook consent dialog to this data collection
                    and the data shared by Facebook with us (e.g. public profile, friends list, e-mail address and
                    "Like" information) through the Service.</p>
                <p><b>3</b>. We may use the requested data anonymously for statistical purposes. I.e., if we may access the
                    data on user's facebook chronic, posts or likes, we may evaluate how often a posting was shared or
                    liked in order to help us improve our Services and its contents like our Quizzes and personality
                    tests. We perform the evaluation anonymously, meaning independently of users' Personally
                    Identifiable Data we received with the consent of the user (e.g. without the Facebook-ID). These
                    evaluations are just for us only, without any transfers of this data to third parties.</p>
                <p><b>4</b>. We use the information we receive on the user in order to adjust our Service and its contents with
                    user’s demands, expectations or interests, whereby user profiles may be created. For this purpose,
                    we use the data that we receive on users as described within this Privacy Policy and then analyze it
                    via algorithmical functions.</p>
                <p><b>5</b>. This processed information includes data we receive from users during the registration procedure
                    (e.g. a users’ gender, name or country), as well as the data we receive on a user’s use of our
                    Service (e.g. which parts of our Service are preferably used, recommended, favored or shared with
                    other users).</p>
                <p><b>6</b>. Users are referred to Facebook’s privacy policy
                    <a href="https://www.facebook.com/about/privacy/your-info-on-other">https://www.facebook.com/about/privacy/your-info-on-other</a>
                    for more information about the consent
                    process, consent granted and ways of revoking such consent within their Facebook profile.</p>
                <p><b>7</b>. Users have the option in the Facebook application settings to end their use of the Service at any
                    time: <a href="https://www.facebook.com/settings?tab=applications">https://www.facebook.com/settings?tab=applications.</a></p>
            </div>
        </div>
    </div>
</div>