www.{$DOMAIN_NAME} {
redir https://en.yquizz.com

}

{$DOMAIN_NAME} {
proxy / node:3000 {
header_upstream Host {host}
header_upstream X-Real-IP {remote}
header_upstream X-Forwarded-Proto {scheme}
}


log stdout
errors stdout
gzip
}

vi.{$DOMAIN_NAME} {
proxy / node:3000 {
header_upstream Host {host}
header_upstream X-Real-IP {remote}
header_upstream X-Forwarded-Proto {scheme}
}

log stdout
errors stdout
gzip
}