www.{$DOMAIN_NAME} {
redir https://en.yquizz.com

}

{$DOMAIN_NAME} {
redir https://en.yquizz.com

}


en.{$DOMAIN_NAME} {
    proxy / node:3000 {
        except /bower_components
        except /images
        except /scripts
        except /styles
        except /views
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-Proto {scheme}
    }
    root /var/www

    rewrite {
        if {path} not /api
        to {path} {path}/ /
    }
    log stdout
    errors stdout
    gzip
}

vi.{$DOMAIN_NAME} {
    proxy / node:3000 {
        except /bower_components
        except /images
        except /scripts
        except /styles
        except /views
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-Proto {scheme}
    }
    root /var/www

    rewrite {
        if {path} not_has /api
        to {path} {path}/ /
    }

    log stdout
    errors stdout
    gzip
}
